/* CSS HEX
--slate-gray: #717c89;
--dark-byzantium: #4d2d45;
--cultured: #f1f7f8;
--middle-green-yellow: #a5b452;
--misty-moss: #a6a15e;
*/

body {
  background-color: #f1f7f8;
  padding: 1rem;
}

h1, h2, h3, h4 {
  font-family: Raleway, Helvetica, Sans-Serif;
}
h1 {
  color: #f1f7f8;
  font-size: 2rem;
  padding: 3rem;
}
header {
  background-color: #4d2d45;
  padding: 0rem;
  border-radius: 7px;
}
h2 {
  color: #f1f7f8;
  background-color: #A6A15E;
  width: 75%;
  padding-left: 1rem;
  border-style: none;
  border-radius: 7px;
  margin-top: 0rem;
}

nav {
  border-style: solid;
  border-color: #A6A15E;
  border-radius: 7px;
  padding-left: 1rem;
  padding-bottom: .5rem;
  font-family: "Source Serif Pro", serif;
}

.seemless {
  margin-top: 0rem;
}

p, li {
  color: #717c89;
  font-family: "Source Serif Pro", serif;
}
a:hover {
  color: #f1f7f8;
  background-color: #717c89;
}
img {
  border-style: groove;
  border-color: #a6a15e;
  border-width: 3px;
  width: 25%;
}
article ol li:nth-child(odd) {background-color: #a5b452;}

aside {
  float: right;
  width: 40%;
  padding: 1rem;
  border-style: dotted;
  border-color: #4d2d45;
  border-width: 3px;
  border-radius: 7px;
}
.thumbnail {
  width: 10%;
}
.aside {
  width: 100%;
}
.fa-camera-retro, .fa-desktop, .fa-copy {
  color: #4d2d45;
  font-size: 3rem;
  padding-right: 1rem;
}
.container {
  display: flex;
  width: 50%;
  flex-direction: column;
  flex-wrap: wrap;
}
.box {

  padding: 1.5rem;
  height: auto;
  border-radius: 7px;
  border-style: solid;
  border-color: #4d2d45;
  border-width: 5px;
}
img:hover {
  transition: all 0.5 ease-in;
  border: 5px inset #717c89;
  border-radius: 2rem;
  margin-right: 5rem;
  transform: scale(1.1);


}
